body {
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url("banner.jpg");
    background-size: cover;
    /*        background-image: url("padded.png");*/
    /*        background-image: url("stardust.png");
            background-image: url("tweed.png");*/

}

.contenedor h2 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.contenedor h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.contenedor-perfil{
    width:40%;
    max-width:1000px;
    margin:auto;
    overflow:hidden;

}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;

}